<!-- frobit launch file 

FroboMind controller frobits using 22000/3300 ohm voltage dividers:
	supply_voltage_scale_factor = 0.03747

RoboCard based frobits using 1800/700 ohm voltage dividers: 
	supply_voltage_scale_factor = 0.01746

-->

<launch>
	
	<node pkg="usb_cam" name="usb_cam" type="usb_cam_node" args="-a"/>
	<node pkg="rsd_camera_functions" name="line_detection" type="line_detector" args="-a"/>
	<node pkg="rsd_camera_functions" name="bar_code" type="bar_code_detect" args="-a"/> 

</launch>

