<!-- Look mom, I'm an XML file.. -->
<launch>
  <!-- differential_odometry is run from IMU launch file -->
  <node pkg="tf" type="static_transform_publisher" name="mapToLPS" args=" 0 0 0 1.57 0 0 map lps 20" />
  <node pkg="pose_estimator" name="pose_estimator" type="pose_estimator_node.py" output="screen" >
    <param name="odom_sub" value="/fmKnowledge/pose" />
    <param name="imu_sub" value="/fmInformation/imu" />
    <param name="gga_sub" value="/fmInformation/gpgga_tranmerc" />
    <param name="marker_pose_sub" value="/fmInformation/marker_pose" />
    <param name="pose_pub" value="/fmKnowledge/kalmanpose" />
    <param name="pose_status_pub" value="/fmKnowledge/pose_status" />
    <param name="odometry_timeout" value="0.5" />
    <param name="gnss_timeout" value="2.0" />
    <param name="imu_timeout" value="0.5" />
    <param name="absolute_orientation_timeout" value="30" />
    <param name="odometry_distance_variance" value="0.000001" />
    <param name="odometry_angular_variance" value="0.000001" />
    <param name="gnss_angular_variance" value="0.0001" />
    <param name="solution_required" value="4" />
    <param name="frame_id" value="base_footprint" />
    <param name="child_frame_id" value="lps" />
  </node>
</launch>
