<!-- This is the launch file for the planner -->
<launch>
  <arg name="sim" default="true"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="mapToBaseFoot" args=" 0 0 0 0 0 0 map base_footprint 20" />  -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find TurboUlla)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find TurboUlla)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find TurboUlla)/config/costmap_common_params_sim.yaml" command="load" ns="global_costmap" if="$(arg sim)" />
    <rosparam file="$(find TurboUlla)/config/costmap_common_params_sim.yaml" command="load" ns="local_costmap" if="$(arg sim)" />
    <rosparam file="$(find TurboUlla)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find TurboUlla)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find TurboUlla)/config/base_local_planner_params.yaml" command="load" />
  </node>
  <node pkg="twist_to_twist_stamped" name="cmd_vel_converter" type="cmd_vel_converter.py" >
    <param name="cmd_vel_pub" value="/fmCommand/cmd_vel"/>
    <param name="cmd_vel_sub" value="/cmd_vel"/>
  </node>
</launch>
