obstacle_range: 2.5 # The "obstacle_range" parameter determines the maximum range sensor reading that will result in an obstacle being put into the costmap.
raytrace_range: 3.0 # The "raytrace_range" parameter determines the range to which we will raytrace freespace given a sensor reading.
footprint: [[-0.20,-0.15],[-0.20,0.35],[0.20,0.35],[0.20,-0.15]]
# 50 x 40 (center located 15cm from backside)
#robot_radius: ir_of_robot
inflation_radius: 0.1

observation_sources: laser_scan_sensor

laser_scan_sensor: {sensor_frame: /base_laser_link, data_type: LaserScan, topic: /base_scan, marking: true, clearing: true}