<!-- Look mom, I'm an XML file.. -->
<launch>
  <arg name="sim" default="false" />
  
  <group unless="$(arg sim)">
    <include file="$(find TurboUlla)/launch/include/lidar.launch" />
    <include file="$(find TurboUlla)/launch/include/imu.launch" />
  </group>
  
  <include file="$(find TurboUlla)/launch/include/platform.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>
  <include file="$(find TurboUlla)/launch/include/localizer.launch" />
  <include file="$(find TurboUlla)/launch/include/planner.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>
  
  <!-- Pose estimate -->
  <include file="$(find TurboUlla)/launch/include/lps_pose_estimate.launch" />
</launch>
