<!-- frobit launch file 

FroboMind controller frobits using 22000/3300 ohm voltage dividers:
	supply_voltage_scale_factor = 0.03747

RoboCard based frobits using 1800/700 ohm voltage dividers: 
	supply_voltage_scale_factor = 0.01746

-->


<launch>
	
	<arg name="sim" default="false" />

	<include file="$(find TurboUlla)/launch/include/line_action_without_client_backwards.launch"/>

	<include file="$(find TurboUlla)/launch/include/imu.launch"/>

  	<include file="$(find TurboUlla)/launch/include/platform.launch">
	    <arg name="sim" value="$(arg sim)"/>
	</include>

</launch>
